.welcome-card {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.store-list-header {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.filter-select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.mb-4 {
    text-align: center;
}

.card-body a {
    color: black
}